name : CI Workflow Automation
on : 
 push:
 workflow_dispatch:
jobs:
  buildandtest:
    runs-on: ubuntu-latest
    steps:
      - name: Run Composite CI Action
        uses: ./.github/actions/ci-check

        
     
    
